.container {
  width: 40vw;
  height: 80vh;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(23%, 1fr));
  gap: 8px;
}

.card {
  box-sizing: border-box;
  border: 1px solid rgb(135, 135, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.card:hover {
  scale: 1.03;
}

.cardAnimated {
  transform: rotateY(180deg);
}

.pairClosed {
  filter: sepia(100%) saturate(200%) brightness(70%) hue-rotate(330deg);
}

@media (min-width: 320px) and (max-width: 800px) {
  .container {
    width: 98vw;
    
  }
}
